<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% for (const m of messages) { %>
    <p><%= m.user %></p>
    <p><%= m.added %></p>
    <p><%= m.text %></p>
    <% } %>
  </body>
</html>
